.slider-bg {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 1.5%;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background: #000;
  z-index: 0;
}

.slider-container {
  height: 26%;
  width: 90%;
  overflow: hidden;
}

.slider-track {
  width: max-content;
  height: 100%;
  display: flex;
  gap: 0.5%;
  animation: slide-left 60s linear infinite;
  will-change: transform;
}

.slider-track[data-direction="right"] {
  animation-name: slide-right;
}

@keyframes slide-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes slide-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

.slider-track img {
  width: 15vw;
  height: 100%;
  object-fit: scale-down;
  border-radius: 10px;
  flex: none;
}

@media screen and (max-width: 768px) {
  .slider-track img {
    width: 25vw;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .slider-container {
    height: 20%;
  }

  .slider-track img {
    width: 33vw;
    border-radius: 8px;
  }
}
